@import "highlight.js/styles/atom-one-light" layer(base);
@import "tailwindcss";

@plugin '@tailwindcss/container-queries';

@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

/* Theme config */
@theme {
	--text-2xs: 0.625rem;
	--text-3xs: 0.5rem;

	--animate-fade-in: fade-in 0.15s ease;
	@keyframes fade-in {
		0% {
			opacity: 0;
			/* scale: 0.99; */
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}
}

/* Utilities */
@utility abs-x-center {
	left: 50%;
	@apply -translate-x-1/2;
}

@utility btn {
	@apply flex h-[39px] items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:ring-4 focus:ring-gray-100 focus:outline-hidden dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700;
}

/* Elements & Classes */
html {
	font-size: 15px;
}
